body{
    
   background-color: blue;
  }
  .appp{
    display: flex;
    justify-content: space-around;
    padding: 20px;
  }
  .tl{
    text-align: center;
    margin: 20px;
    text-shadow: 0px 0px 30px rgba(0, 0, 0, 0.644);
  }
  div.formComp{
    
    margin: 5px;
    padding: 5px;
    background-color: rgba(96, 67, 122, 0.247);
    width: 500px;
    height: 100vh;
    border: 2px solid rgba(124, 124, 199, 0.158);
    border-radius: 20px;
    margin-right: 20px;
    overflow: auto;
    box-shadow: 0px 0px 30px rgba(0, 0, 255, 0.342);
    text-align: justify;
  }
  
  
  .formComp::-webkit-scrollbar {
    display: none;
  }
  
 
  .formComp {
  -ms-overflow-style: none;  
  scrollbar-width: none;  
  }
  
  @media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .appp{
      display: block;
    }
    div.formComp{
      width: 450px;
    }
  }