.head{
    display: flex;
    align-items: center;
  
  }
  
  .a-41 .name {
    margin: 0 83.5px 6px 0;
    display: inline-block;
    padding: 20px;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 30px;
    color: #000000;
  }
  .a-41 .specialization {
    overflow-wrap: break-word;
    padding:0px 20px;
    
    font-family: 'Inter';
    font-weight: 400;
    font-size: 20px;
    color: #000000;
  }
  .a-41 .container-2 {
    background: #74BCFF;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
  }
  .a-41 .contact {
    margin-top: 20px;
    display: inline-block;
    align-self: flex-start;
    
    font-family: 'Inter';
    font-weight: 600;
    font-size: 15px;
    color: #74BCFF;
  }
  .contact p{
    margin-bottom: -1em;  margin-top: 0em;
  }
  .a-41 .enter-the-details-5 {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 10;
    font-size: 10px;
    color: #FEFEFE;
  }
  .a-41 .skills {
    margin-top: 10px;
    
    text-align: left;
    font-family: 'Inter';
    font-weight: 600;
    font-size: 15px;
    color: #74BCFF;
  }
  .a-41 .enter-the-details-6 {
    margin: 0 16.8px 27px 0;
    display: inline-block;
    text-align:left ;
    width: 100%;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 15px;
    color: #FEFEFE;
  }
  
  .a-41 .enter-the-details-7 {
    margin: 0 16.8px 37px 0;
    display: inline-block;
    width: 100%;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 15px;
    color: #FEFEFE;
  }
  .a-41 .area-of-interest {
    margin: 0 56.6px 6px 0;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 600;
    font-size: 15px;
    color: #74BCFF;
  }
  .a-41 .enter-the-details-8 {
    margin: 0 16.8px 39px 0;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 15px;
    color: #FEFEFE;
  }
  .a-41 .personal-traits {
    margin-bottom: 13px;
    display: inline-block;
    align-self: flex-start;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 600;
    font-size: 15px;
    color: #74BCFF;
  }
  .a-41 .enter-the-details-9 {
    margin: 0 14.8px 36px 0;
    display: inline-block;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 15px;
    color: #FEFEFE;
  }
  .a-41 .language-known {
    margin-bottom: 13px;
    display: inline-block;
    align-self: flex-start;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 600;
    font-size: 15px;
    color: #74BCFF;
  }
  .a-41 .enter-the-details-10 {
    margin-right: 16.8px;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 15px;
    color: #FEFEFE;
  }
  .a-41 .containerr {
    background: #3F474E;
    position: relative;
    justify-items: var(100%);
    margin-right: 12px;
    display: flex;
    height: 110vh;
    flex-direction: column;
    align-items:flex-start ;
    padding: 0 21px;
    width: 200px;
    box-sizing: border-box;
  }
  .a-41 .career-objective {
    width: 100px;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 600;
    font-size: 15px;
    color: #000000;
  }
  .a-41 .frame-1 {
    width: 170px;
    text-align: center;
    border-radius: 20px;
    background: #73B3EC;
    margin: 0 1px 20px 0;
    padding: 6px 12px;
    
    box-sizing: border-box;
  }
  .a-41 .enter-the-details {
    margin: 2px;
    display: inline-block;
    text-align: justify;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 10px;
    color: #000000;
  }
  .a-41 .education {
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 600;
    font-size: 15px;
    color: #000000;
  }
  .a-41 .frame-2 {
    border-radius: 20px;
    width: 120px;
    background: #73B3EC;
    margin: 0 1px 10px 0;
    padding: 6px 12px;
    width: 170px;
    text-align: center;
    box-sizing: border-box;
  }
  .a-41 .enter-the-details-1 {
    margin: 2px;
    display: inline-block;
    text-align: justify;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 10px;
    color: #000000;
  }
  .a-41 .work-experience {
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 600;
    font-size: 15px;
    color: #000000;
  }
  .a-41 .frame-11 {
    border-radius: 20px;
    background: #73B3EC;
    margin: 0 1px 17px 0;
    padding: 6px 12px;
    width: 170px;
    text-align: center;
    box-sizing: border-box;
  }
  .a-41 .enter-the-details-2 {
    margin: 2px;
    display: inline-block;
    text-align: justify;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 10px;
    color: #000000;
  }
  .a-41 .projects {
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 600;
    font-size: 15px;
    color: #000000;
  }
  .a-41 .frame-12 {
    border-radius: 20px;
    background: #73B3EC;
    margin: 0 1px 17px 0;
    padding: 6px 12px;
    width: 170px;
    text-align: center;
    box-sizing: border-box;
  }
  .a-41 .enter-the-details-3 {
    margin: 2px;
    display: inline-block;
    text-align: justify;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 10px;
    color: #000000;
  }
  .a-41 .internship {
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 600;
    font-size: 15px;
    color: #000000;
  }
  .a-41 .frame-3 {
    border-radius: 20px;
    background: #73B3EC;
    margin: 0 1px 15px 0;
    padding: 6px 12px;
    width: 170px;
    text-align: center;
    box-sizing: border-box;
  }
  .a-41 .enter-the-details-4 {
    margin: 2px;
    display: inline-block;
    text-align: justify;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 10px;
    color: #000000;
  }
  .a-41 .courses {
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 600;
    font-size: 15px;
    color: #000000;
  }
  .a-41 .frame-4 {
    border-radius: 20px;
    background: #73B3EC;
    margin: 0 0 12px 1px;
    padding: 6px 12px;
    width: 170px;
    text-align: center;
    box-sizing: border-box;
    
  }
  .a-41 .enter-the-details-11 {
    margin: 2px;
    display: inline-block;
    text-align: justify;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 10px;
    color: #000000;
  }
  .a-41 .courses-1 {
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 600;
    font-size: 15px;
    color: #000000;
  }
  .a-41 .frame-5 {
    border-radius: 20px;
    background: #73B3EC;
    margin: 0 0 19px 1px;
    padding: 6px 12px;
    width: 170px;
    text-align: center;
    box-sizing: border-box;
  }
  .a-41 .enter-the-details-12 {
    margin: 2px;
    display: inline-block;
    text-align: justify;
    overflow-wrap: break-word;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 10px;
    color: #000000;
  }
  .a-41 .container-1 {
    margin: 14px 0 74px 0;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    width: 80%;
    box-sizing: border-box;
  }
  .a-41 .container-3 {
    margin: 0 31px;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-self: flex-start;
    width: fit-content;
    box-sizing: border-box;
    
    
  }
  .a-41 .container-5 {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    box-sizing: border-box;
  }
  .a-41 .ellipse-1 {
    border-radius: 95px;
    border: #000000;
    border-width: 10px;
    background: url('../assets/images/ellipse_1.jpeg') 50% / cover no-repeat;
    width: 190px;
    height: 190px;
  }
  .a-41 .container-4 {
    border-radius: 106.5px;
    background: #3F474E;
    position: absolute;
    left: 31px;
    top: 59px;
    display: flex;
    padding: 16px 12px 7px 11px;
    width: 213px;
    height: 213px;
    box-sizing: border-box;
  }
  .a-41 {
    background: #FFFFFF;
    display: flex;
    box-sizing: border-box;
    width: 21cm;
  min-height: 29.7cm;
  }
