body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
  }
  .containerr {
    width: 100%;
    margin: auto;
    padding: 20px;
  }
  .aa{
    width: 100%;
    margin: auto;
    padding: 20px;
    background: #FFFFFF;
    width: 21cm;
  min-height: 29.7cm;

    box-sizing: border-box;
    background-color: white;
  }
  .header {
    text-align: center;
    align-items: center;
    padding-bottom: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-evenly;
  }
  .header h1 {
    margin: 0;
    font-size: 2.5em;
  }
  .header h2 {
    margin: 0;
    font-size: 1.5em;
    color: #666;
  }
  .image {
    text-align: center;
    margin-bottom: 20px;
  }
  .image img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
  }
  .section {
    margin-bottom: 20px;
  }
  .section h3 {
    font-size: 1.2em;
    color: #333;
    border-bottom: 1px solid #666;
    padding-bottom: 5px;
    margin-bottom: 10px;
  }
  .section ul {
    list-style: disc inside;
    padding-left: 20px;
  }
  .section a {
    color: #0066cc;
    text-decoration: none;
  }
  .section a:hover {
    text-decoration: underline;
  }